<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your comment</title>
    <link rel="stylesheet" href="/css/newcomments.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
</head>
<body>


<div class="formWrapper2">
    <div class="formWrapper">
        <div class="header"><h1><span class="headerC">Edit your current comment</h1></div>
            <form action="/posts/<%=post_id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
                 <div class="descriptionText"><input type="text" name="comment[text]" value="<%=comment.text%>" required></div>
                 <div class="submitBtn"><button class="btnClass"><span>Submit</span></button></div>
            </form>
                 <div class="submitBtn"><button class="btnClass"><a href="/posts" class="backPost"><span>Go back to posts</span></a></button></div>
    </div>
</div>

</body>
</html>

