<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orbittle | Share whatever's on your mind.</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="icon" type="image/png" href="/images/android-icon-192x192.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
</head>
<body>

<div class="backgroundSVG"><img src="/images/background.png"></div>

<div class="centerElements">
    <h1 class="welcomeMsg">Welcome to Orbittle</h1>
    <a href="/posts/" class="enterMain"><span>Enter</span></a>
</div>

<p class="tradeMark">Copyright © 2018 Orbittle. Some rights reserved.</p>
</body>
</html>