body{
    font-family: 'Roboto', sans-serif;
    padding: 0; 
    margin: 0; 
}   

.navbar{
    text-align: center;
    max-width: 450px;
    margin: 0 auto; 
}

.navbar li{
    color: black;
    display: inline-block;
    padding: 20px;
    font-weight: 600; 
}

.navbar ul{
    padding-left: 0px;
}

.animateborder{
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.animateborder::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #446CB3;
    transition: width .3s;  
}

.animateborder:hover::after {
    width: 100%;
    transition: width .3s;
}

a{
    color: #707070;
    text-decoration: none;
}

.titleBox{
    font-weight: 600;
    
}

.postBox{
    border-radius: 20px;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
    max-width: 250px;
    margin: 0 auto;
    padding: 20px;
}

.commentsBox{
    max-width: 250px;
    margin: 0 auto;
}

.authorSpan{
    font-weight: 600;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    opacity: 0.4    ;
}

.buttonWrapper{
    text-align: center;
    padding-top: 20px;
}

.addComment{
    border: none;
    border-radius: 20px;
    width: 300px;
    height: 30px;
    font-weight: 600;
    margin: 0 auto; 
    background-color: #013243; 
    color: white;
    cursor: pointer; 
}

.addComment span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.addComment span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.addComment:hover span {
    padding-right: 25px;
  }
  
.addComment:hover span:after {
    opacity: 1;
    right: 0;
  }

.comment{
    color: white;
    padding-bottom: 30px;
}

.timeDate{
    font-size: 12px;
    font-style: italic;
}

.createBy{
    font-weight: 600;   
}

.byDiv{
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 14px;
}

.deleteWrapper{
    text-align: center;
    padding-top: 20px;
}

.deletePost{
    border: none;
    border-radius: 20px;
    width: 300px;
    height: 30px;
    font-weight: 600;
    margin: 0 auto; 
    background-color: #F03434;
    color: white;
    cursor: pointer; 
}

.deletePost span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.deletePost span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.deletePost:hover span {
    padding-right: 25px;
  }
  
.deletePost:hover span:after {
    opacity: 1;
    right: 0;
  }

.editWrapper{
    background-color: #013243;
    font-size: 12px;
    padding: 2px;
    max-width: 100px;
    text-align: center;
    font-weight: 600;
    color: white;
}

.editBtn{
    color: white;
}

.editWrapper:hover{
    background-color:#52B3D9;
}

.editContainer{
    padding-bottom: 5px;
}

.deleteBtn2{
    color: white;
}

.deleteBtn2{
    border: none;
    background-color:#F03434;
    font-size: 12px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    font-weight: 600;
    color: white;
}

.deleteBtn2:hover{
    background-color: #EC644B;
    cursor: pointer;
}

.deleteWrapper2{
    padding-bottom: 10px;
}

@media only screen and (min-width: 1080px){
    .postBox{
        max-width: 1500px;
    }

    .commentsBox{
        max-width: 1500px;
    }
}